
@import url("https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&display=swap");
html {
  overflow-x: hidden;
}

body {
  line-height: 1.6;
font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #4d5359;
  font-weight: 400;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300!important;
  color: #222;
}
span.orange {
  color: rgb(251 155 71);
}
h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 50px;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
    font-size: 1.5rem;
    line-height: 30px;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  line-height: 30px;
}

.navbar-toggle .icon-bar {
  background: #fb9b47;;
}

input[type="email"], input[type="password"], input[type="text"], input[type="tel"] {
  box-shadow: none;
  height: 45px;
  outline: none;
  font-size: 14px;

  height: 60px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
  background: #f4f9fc;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="tel"]:focus {
  box-shadow: none;
  border: 1px solid #fb9b47;;

  height: 60px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
  background: #f4f9fc;
  }

.form-control {
  box-shadow: none;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #fb9b47;;
}

.py-7 {
  padding: 7rem 0px;
}

.btn {
  display: inline-block;
  font-size: 14px;
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: .5px;
  padding: .75rem 2rem;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all .35s ease;
}

.btn.btn-icon i {
  border-left: 1px solid rgba(255, 255, 255, 0.09);
  padding-left: 15px;
}

.btn:focus {
  outline: 0px;
  box-shadow: none;
}
.navigation .btn-main {
  background: #ffffff;
  color: #fb9b47;
  border-color: #fb9b47;
  font-size: 16px;
  text-transform: initial;
  font-weight: 300;
}
.navigation .btn-main:hover {

}
.btn-main {
  background: #fb9b47;
  color: #fff;
  border-color: #fb9b47;
}

.btn-main:hover,
.btn-main:focus{
  background: #fb9b47;
  color: #fff;
  border-color: #fb9b47;
}

.btn-main-2 {
  background: #fb9b47;;
  color: #fff;
  border-color: #fb9b47;;
}

.btn-main-2:hover, .btn-main-2:focus {
  background: #0088cc;
  color: #fff;
  border-color: #0088cc;
}
.backtop:hover, .backtop:focus {
  background: #fb9b47;
  border-color: #fb9b47;
  color: #fff;
}
.btn-solid-border {
  border: 2px solid #fb9b47;;
  background: transparent;
  color: #fb9b47;;
}

.btn-solid-border:hover {
  border: 2px solid #fb9b47;;
  color: #fff;
  background: #fb9b47;;
}

.btn-solid-border:hover.btn-icon i {
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.btn-solid-border.btn-icon i {
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.btn-transparent {
  background: transparent;
  color: #222;
  border-color: #6F8BA4;
}

.btn-transparent:hover {
  background: #6F8BA4;
  color: #fff;
}

.btn-white {
  background: #fff;
  border-color: #fff;
  color: #222;
}

.btn-white:hover {
  background: #fb9b47;;
  color: #fff;
  border-color: #fb9b47;;
}

.btn-solid-white {
  border-color: #fff;
  color: #fff;
}

.btn-solid-white:hover {
  background: #fff;
  color: #222;
}

.btn-round {
  border-radius: 4px;
}

.btn-round-full {
  border-radius: 50px;
}

.btn.active:focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

.bg-gray {
  background: #eff0f3;
}

.bg-primary {
  background: #fb9b47;;
}

.bg-primary-dark {
  background: #152440;
}

.bg-primary-darker {
  background: #090f1a;
}

.bg-dark {
  background: #222;
}

.bg-gradient {
  background-image: linear-gradient(145deg, rgba(19, 177, 205, 0.95) 0%, rgba(152, 119, 234, 0.95) 100%);
  background-repeat: repeat-x;
}

.section {
  padding: 80px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-bottom {
  padding-bottom: 100px;
}

.subtitle {
  color: #fb9b47;;
  font-size: 14px;
  letter-spacing: 1px;
}

.overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: #fb9b47;;
}

.overly-2 {
  position: relative;
}

.overly-2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 2.25rem;
}

.text-lg {
  font-size: 3.75rem;
}

.no-spacing {
  letter-spacing: 0px;
}

/* Links */
a {
  color: #222;
  text-decoration: none;
  transition: all .35s ease;
}

a:focus, a:hover {
  color: #fb9b47;;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.content-title {
  font-size: 40px;
  line-height: 50px;
}

.page-title {
  padding: 120px 0px 70px 0px;
  position: relative;
}

.page-title .block h1 {
  color: #fff;
}

.page-title .block p {
  color: #fff;
}

.page-title .breadcumb-nav {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.slick-slide:focus, .slick-slide a {
  outline: none;
}

@media (max-width: 480px) {
  h2, .h2 {
    font-size: 1.3rem;
    line-height: 36px;
  }
}

.title-color {
  color: #fb9b47;;
}

.secondary-bg {
  background: #fb9b47;;
}

.section-title {
  margin-bottom: 50px;
}

.section-title h2 {
  color: #000;
}
.section-title h2 span {
  color: rgb(251 155 71);
}
#what-we-do {
  padding-top: 32px;
}
#what-we-do-block {
  scroll-margin-top: 120px;
}
#our-expertise-block {
  scroll-margin-top: 150px;
}
#our-expertise {
  min-height: calc(100vh - 120px);
  padding-top: 130px;
  padding-bottom: 90px;
  display: flex;
  align-items: center;
}
#our-expertise .row {
  min-height: auto;
}
.what-we-do-content p {
  text-align: justify;
}
#our-expertise p {
  color: #000;
  text-align: justify;
}
#our-expertise p span:not(.orange) {
  color: #000;
}
@media (max-width: 991px) {
  #our-expertise {
    min-height: auto;
    display: block;
    padding-top: 90px;
    padding-bottom: 70px;
  }
  #our-expertise .row {
    min-height: auto;
  }
}
.text-lg {
  font-size: 55px;
}

.gray-bg {
  background: #e7f6ff;
}
.contact-info h5, .contact-info .h5 {
    font-size: 1.25rem;
    font-weight: 400 !important;
    padding-bottom: 5px;
}
.carousel-caption {
    bottom: 28%;
}
.carousel-item h5, .carousel-item .h5 {
    font-size: 1.25rem;
    color: #0088cc;
    font-size: 60px;
}
.carousel-item p {
    line-height: 30px;
    width: 50%;
    margin: 0 auto;
}
.navigation .btn-main:hover {
  background: #fb9b47;
  border-color: #fb9b47;
  color: #fff;
}
@media (max-width: 480px) {
  .text-lg {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .text-lg {
    font-size: 28px;
  }
}
.navigation {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 6px 1rem;
}
#navbarmain {
  padding: 4px 0px;
}

#navbarmain .nav-link {
  font-weight: 400;
  padding: 4px 12px;
  color: #000;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-transform: capitalize;
  font-size: 15px;
  transition: all .25s ease;
  line-height: 20px;
}
.navigation .btn-main {
  padding: .3rem 1rem;
}
.navigation .navbar-brand {
  font-size: 1.7rem;
  color: #fff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1;
}
.navigation .navbar-brand img {
  width: 60%;
  max-height: 42px;
  width: auto;
}
.navbar-toggler {
  padding: .2rem .45rem;
  line-height: 1;
}
.dropdown-toggle::after {
  display: none;
}

.dropdown .dropdown-menu {
  position: absolute;
  display: block;
  background: #fff;
  min-width: 240px;
  top: 130%;
  left: 0;
  right: 0px;
  opacity: 0;
  padding: 0px;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
  border: 0px;
  border-top: 5px solid #fb9b47;;
  border-radius: 0px;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 115%;
}

.dropdown .dropdown-item {
  padding: 13px 20px;
  border-bottom: 1px solid #eee;
  background: transparent;
  font-weight: 400;
  color: #555;
}

.dropdown .dropdown-item:hover {
  color: #fb9b47;;
}

.header-top-bar {
  font-size: 14px;
  padding: 10px 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #fff;
  background-color: rgb(251 155 71);
}

.top-bar-info li a {
  color: #fff;
  margin-right: 20px;
}

.top-right-bar a span {
  color: #fb9b47;;
  font-weight: 600;
  letter-spacing: 1px;
}

.top-right-bar a i {
  color: #fff;
  margin-right: 10px;
}

.bg-1 {
  background: url("../images/bg/22.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}

.banner {
  position: relative;
  overflow: hidden;
  background: #fff;
  background: url("../images/bg/slider-bg-1.jpg") no-repeat;
  background-size: cover;
  min-height: 550px;
}

.banner .block {
  padding: 80px 0px 160px;
}

.banner .block h1 {
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: -1.2px;
  text-transform: capitalize;
  color: #fb9b47;;
}

.letter-spacing {
  letter-spacing: 2px;
}

.text-color {
  color: #fb9b47;;
}

.text-color-2 {
  color: #fb9b47;;
}
.doctor-details h2 {
    color: #0088cc;
}
.divider {
  width: 40px;
  height: 3px;
  background: #fb9b47;
}

@media (max-width: 480px) {
  .banner .block h1 {
    font-size: 38px;
    line-height: 50px;
  }
  .banner {
    min-height: 450px;
    background: #fff !important;
  }
}

@media (max-width: 400px) {
  .banner .block h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .banner {
    min-height: 450px;
    background: #fff !important;
  }
}

@media (max-width: 768px) {
  .banner .block h1 {
    font-size: 56px;
    line-height: 70px;
  }
  .banner {
    background: #fff !important;
  }
}

@media (max-width: 992px) {
  .banner {
    background: #fff !important;
  }
}

.about-img img {
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
}

.award-img {
  height: 120px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #eff0f3;
}

.appoinment-content {
  position: relative;
}

.appoinment-content img {
  width: 85%;
}

.appoinment-content .emergency {
  position: absolute;
  content: "";
  right: 10px;
  bottom: 20px;
  background: #fb9b47;;
  padding: 48px;
}

.appoinment-content .emergency h2 {
  color: #fff;
}

.appoinment-content .emergency i {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.appoinment-form {
  margin-top: 40px;
}

.appoinment-form .form-control {
  background: #f4f9fc;
  height: 55px;
  border-color: rgba(0, 0, 0, 0.05);
}

.appoinment-form textarea.form-control {
  height: auto;
}

.client-thumb {
  text-align: center;
}

.features {
  margin-top: -400px;
}

.feature-item {
  flex-basis: 33.33%;
  margin: 0px 10px;
  padding: 40px 30px;
  background: rgb(255 255 255 / 100%);
  border-radius: 0;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
  position: relative;
  top: 150px;
}
.feature-item span {
  font-weight: bold;
  color: #000;
}
.feature-item .feature-icon i {
  font-size: 50px;
  color: #fb9b47;;
}

.feature-item h4 {
  color: #000;
}

.feature-item p {
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  color: #000;
}

.feature-section.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.w-hours li {
  padding: 6px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.counter-stat {
  text-align: center;
    padding: 60px 0px 60px 0px;
  position: relative;
}

.counter-stat i {
  display: block;
  color: rgba(255, 255, 255, 0.06);
  font-size: 70px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 35px;
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
}

.counter-stat span {
  font-size: 70px;
  color: #fff;
}

.counter-stat p {
  margin-bottom: 0px;
  color: rgba(255, 255, 255, 1);
  margin-top: -10px;
}

.mb--80 {
  margin-bottom: -80px;
}
.awards .title-color {
    color: #000;
}
.service {
  background: url(../images/banner-2.jpg) no-repeat center center scroll;
  background-size:cover;
  position: relative;
}
.service::after {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
}
.service .container {
  position: relative;
  z-index: 1;
}
.service  .section-title h2, .service .row.justify-content-center p {
    color: #fff;
}
.service .divider {
    background: #fff;
}
.service .service-item {
      background: rgb(255 255 255);
  padding: 30px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 30px 0px rgb(0 42 106 / 10%);
  color: #fff;
}
.service .service-item:hover a, .service .service-item:focus a {
    background: #fb9b47;
    color: #fff;
    border: 1px solid rgb(255 255 255);
}
.service .service-item:hover {
}
.service .service-item .icon h4 {
  color: #000;
  padding-left: 0px;
    font-size: 26px;
}

.service .icon {
  float: left;
  width: 100%;
text-align: left;
padding-top: 15px;
color: #000;
}

.service .content {
  clear: both;
}
.service .content p {
  line-height: inherit;
  text-align: left;
  color: #000;
}
.service .content a {
  width: 35px;
  height: 35px;
  /* background: white; */
  display: inherit;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
}
.service-block {
  padding: 20px;
  margin-bottom: 40px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 38px rgba(21, 40, 82, 0.07);
}
.service-block .title-color {
    color: #fb9b47;;
}
.service-block img {
  width: 100%;
}

.department-service {
  margin-bottom: 40px;
}

.department-service li {
  margin-bottom: 10px;
}

.department-service li i {
  color: #fb9b47;;
}

.doctors .btn-group .btn {
  border-radius: 0px;
  margin: 0px 2px;
  text-transform: capitalize;
  font-size: 16px;
  padding: .6rem 1rem;
  cursor: pointer;
}

.doctors .btn-group .btn.active {
  box-shadow: none !important;
  border-color: transparent;
  background: #fb9b47;;
  color: #fff;
}

.doctors .btn-group .btn.focus {
  box-shadow: none !important;
  border-color: transparent;
}

.doctors .btn-group .btn:focus {
  box-shadow: none !important;
  border-color: transparent;
  background: #fb9b47;;
  color: #fff;
}

.doctors .btn-group .btn:hover {
  box-shadow: none !important;
  border-color: transparent;
  background: #fb9b47;;
  color: #fff;
}

.doctors .btn-group > .btn-group:not(:last-child) > .btn, .doctors .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .doctors .btn-group > .btn:not(:first-child) {
  border-radius: 3px;
}

.doctor-inner-box {
  overflow: hidden;
  padding: 15px;
}

.doctor-inner-box .doctor-profile {
  overflow: hidden;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(200, 183, 255, 0.2);
}

.doctor-inner-box .doctor-profile .doctor-img {
  transition: all .35s ease;
}

.doctor-inner-box .doctor-profile .doctor-img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.lh-35 {
  line-height: 35px;
}

.doctor-info li {
  margin-bottom: 10px;
  color: #222;
}

.doctor-info li i {
  margin-right: 20px;
  color: #fb9b47;;
}

.read-more {
  color: #fb9b47;;
}

@media (max-width: 480px) {
  .doctors .btn-group {
    display: block;
  }
  .doctors .btn-group .btn {
    margin: 8px 3px;
  }
}

@media (max-width: 400px) {
  .doctors .btn-group {
    display: block;
  }
  .doctors .btn-group .btn {
    margin: 8px 3px;
  }
}

@media (max-width: 768px) {
  .doctors .btn-group {
    display: block;
  }
  .doctors .btn-group .btn {
    margin: 8px 3px;
  }
}

.cta {
  background-size: cover;
  position: relative;
}

.cta .btn-main {
  background: #ffffff;
  color: #fb9b47;
  border-color: #ffffff;
  display: inline-table;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
}
.cta .btn-main:hover, .cta .btn-main:focus {
  background: #000;
  color: #fff;
  border-color: #000;
}

.mb-30 {
  margin-bottom: 30px;
}

.text-color-primary {
  color: #fb9b47;;
}

.about .title-color {
    color: #fb9b47;;
}

.cta-section {
  background: #fb9b47;
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
    padding: 50px 0px 70px;
}

.cta-2 {
  background-position: center center;
}

.cta-page {
  background-size: cover;
  position: relative;
}
.service-cta {
  background: url(../images/bg/slider-2.jpg) no-repeat center center scroll;
  background-size: cover;
  position: relative;
}
.service-cta::after {
    background: rgba(2, 89, 129, 0.9);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
}
.service-cta .cta-content {
  position: relative;
  z-index: 1;
  color: #fff;
}
.service-cta .cta-content h2 {
    color: #fb9b47;;
}
.service-cta .btn-main-2 {
  background: #0088cc;
  color: #fff;
  border-color: #0088cc;
}
.service-cta .btn-main-2:hover {
    background: #fb9b47;;
    border-color: white;
    color: #fff;
}
.title-color {
    color: #fff;
}
.testimonial {
  position: relative;
  padding: 80px 0;
}

.testimonial .col-md-6 img {
  border-radius: 5px;
}

.testimonial .slick-dots {
  text-align: left;
}

.slick-dots li button:before{
    opacity: 1;
    color: white;
    width: 25px;
    height: 25px;
    font-size: 15px !important;
    border-radius: none !important;
    content: none;
}
.slick-dots li button {
  background: #ccc !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}
.slick-dots li.slick-active button {
  background: #fb9b47 !important;
}
.slick-dots li.slick-active button:before {
    opacity: .75;

}
.slick-dots {
    text-align: left;
}
.slick-dots li button:before {
    background: #ccc !important;
}
.testimonial-block {
  position: relative;
  margin-bottom: 20px;
}

.testimonial-block p {
  background: #fff;
  font-size: 16px;
}

.testimonial-block .client-info {
  margin-bottom: 20px;
}

.testimonial-block .client-info h4 {
  margin-bottom: 0px;
  font-size: 1.3rem;
}

.testimonial-block i {
  font-size: 60px;
  position: absolute;
  right: 46px;
  bottom: 89px;
  opacity: .08;
}

.testimonial-block .slick-dots {
  text-align: left;
}

.testimonial-wrap-2 .slick-dots {
  margin-left: -10px;
}

.testimonial-block.style-2 {
  background: #fff;
  padding: 30px;
  margin: 0px 4px;
  margin-bottom: 30px;
}

.testimonial-block.style-2 .testimonial-thumb {
  float: left;
}

.testimonial-block.style-2 .testimonial-thumb img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 5px solid #eff0f3;
  margin-top: -5px;
}

.testimonial-block.style-2 .client-info p {
  clear: both;
  background: transparent;
}

.testimonial-block.style-2 i {
  bottom: -20px;
  color: #fb9b47;;
  opacity: .3;
}

@media (max-width: 480px) {
  .testimonial-wrap {
    margin-left: 0px;
  }
  .testimonial::before {
    display: none;
  }
}

@media (max-width: 400px) {
  .testimonial-wrap {
    margin-left: 0px;
  }
  .testimonial::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .testimonial-wrap {
    margin-left: 0px;
  }
  .testimonial::before {
    display: none;
  }
}

@media (max-width: 992px) {
  .testimonial-wrap {
    margin-left: 0px;
  }
  .testimonial::before {
    display: none;
  }
}
.feature-section{
  position: relative;
  padding-top: 190px;
}
.feature-section img {
  border-radius: 15px;
}
h3{
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  color: #222;
}

.feature-block-one .inner-box{
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 80px;
}

.feature-block-one .inner-box .image-box{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
}

.feature-block-one .inner-box .image-box::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255,255,255,.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.feature-block-one .inner-box:hover .image-box::before {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}
.feature-block-one .inner-box .lower-content .inner:before {
    background: #fb9b47;
}
@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.feature-block-one .inner-box .image-box img{
  width: 100%;
}

.feature-block-one .inner-box .lower-content{
  position: relative;
}

.feature-block-one .inner-box .lower-content .inner{
  position: absolute;
  display: block;
  overflow: hidden;
  top: -20px;
  width: calc(100% - 30px);
  left: 15px;
  background: #fff;
  text-align: center;
  padding: 32px 15px 36px 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 500ms ease;
  z-index: 2;
}

.feature-block-one .inner-box .lower-content .inner:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 0%;
  left: 0px;
  right: 0px;
  top: 0px;
  transition: all 500ms ease;
}

.feature-block-one .inner-box:hover .lower-content .inner:before{
  height: 100%;
}

.feature-block-one .inner-box:hover .lower-content .inner{
  padding-bottom: 66px;
}

.feature-block-one .inner-box .lower-content .inner h3{
  margin-bottom: 0px;
  transition: all 500ms ease;
}

.feature-block-one .inner-box:hover .lower-content .inner h3{
  color: #fff;
  position: relative;
}

.feature-block-one .inner-box .lower-content .inner a{
  position: absolute;
  display: inline-block;
  left: 50%;
  bottom: 33px;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
}

.feature-block-one .inner-box:hover .lower-content .inner a{
  opacity: 1;
}

.feature-block-one .inner-box .lower-content .inner a span{
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.feature-block-one .inner-box .lower-content .inner a i{
  font-size: 12px;
  color: #fff;
  margin-left: 7px;
}
.contact-form-wrap .form-group {
  margin-bottom: 12px;
}
.contact-form-wrap .form-group label {
  width: 100%;
}

.contact-form-wrap .form-group .form-control {
  height: 60px;
  border: 1px solid #d3efff;
  box-shadow: none;
  width: 100%;
  background: #d3efff;
  float: left;
  font-size: 15px;
  color: #333;

}
.contact-form-wrap .form-group label, .contact-form-wrap .form-group-2 label {
  font-size: 15px;
  color: #727272;
}
.contact-form-wrap .form-group label span, .contact-form-wrap .form-group-2 label span {
  padding-bottom: 1px !important;
  display: inline-block;
}
.contact-form-wrap .form-group label span {
  width: 100%;
  display: inherit;
}
.contact-form-wrap .form-group label span.required, .contact-form-wrap .form-group-2 label span.required {
  display: inline;
  color: red;
  font-size: 18px;
  padding-left: 3px;
}
.contact-form-wrap .form-group-2 label {
  width: 100%;
  display: inherit;
}
.contact-form-wrap .form-group .form-control.small-textbox {
  width: 13%;
}
.contact-form-wrap .form-group .form-control.medium-textbox {
  width: 84%;
  margin-left: 3%;
}
.contact-form-wrap .form-group-2 {
  margin-bottom: 13px;
}

.contact-form-wrap .form-group-2 textarea {
  height: auto;
  border: 1px solid #d3efff;
  box-shadow: none;
  background: #d3efff;
  width: 100%;
  font-size: 15px;
  color: #333;
}
.success {
  padding: 10px;
  border: 1px solid green;
  margin-bottom: 20px;
  background: #cfffcf;
  color: green;
}
.error {
  padding: 10px;
  border: 1px solid #b42318;
  margin-bottom: 20px;
  background: #fdecea;
  color: #b42318;
}
.social-icons li {
  margin: 0 6px;
}

.social-icons a {
  margin-right: 10px;
  font-size: 18px;
}
.contact-info {
  padding-bottom: 60px !important;
}
.google-map {
  position: relative;
  position: relative;
  margin-bottom: -7px;
}

.google-map #map {
  width: 100%;
  height: 450px;
}

.mt-90 {
  margin-top: 90px;
}
.form-style {
  display: inline-block;
  width: 100%;
}
.contact-block {
  text-align: center;
  /* border: 5px solid #fb9b47; */
  padding: 50px 25px 0px;
  min-height: 250px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.contact-block {
  color: #000;
}
.contact-block i {
  font-size: 50px;
  margin-bottom: 15px;
  display: inline-block;
  color: #fb9b47;
  position: relative;
  top: 3px;
}

.blog-item-content h2 {
  font-weight: 600;
  font-size: 38px;
}

/*=================================================================
  Single Blog Page
==================================================================*/
.nav-links .page-numbers {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #eee;
  text-align: center;
  padding-top: 13px;
  font-weight: 600;
  margin-right: 10px;
}

.nav-links .page-numbers:hover {
  background: #fb9b47;;
  color: #fff;
}

.nav-links .page-numbers.current {
  background: #fb9b47;;
  color: #fff;
}

.comment-area .comment-thumb {
  margin-right: 20px;
  margin-bottom: 30px;
}

.comment-area h5 {
  font-size: 18px;
  font-weight: 500;
}

.comment-area span {
  font-size: 14px;
}

.posts-nav h6 {
  font-weight: 500;
}

.quote {
  font-size: 22px;
  color: #fb9b47;;
  padding: 40px;
  font-style: italic;
  border-left: 5px solid #fb9b47;;
  margin: 25px 0px;
}

.tag-option a {
  border: 1px solid #eff0f3;
  padding: 6px 12px;
  color: #6F8BA4;
  font-size: 14px;
}

.comment-form .form-control {
  background: #f7f8fb;
  border-radius: 5px;
  border-color: #f7f8fb;
  height: 50px;
}

.comment-form textarea.form-control {
  height: auto;
}

.post.post-single {
  border: none;
}

.post.post-single .post-thumb {
  margin-top: 30px;
}

.post-sub-heading {
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}

.post-social-share {
  margin-bottom: 50px;
}

.post-comments {
  margin: 30px 0;
}

.post-comments .media {
  margin-top: 20px;
}

.post-comments .media > .pull-left {
  padding-right: 20px;
}

.post-comments .comment-author {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 500;
}

.post-comments .comment-author a {
  color: #fb9b47;;
  font-size: 14px;
  text-transform: uppercase;
}

.post-comments time {
  margin: 0 0 5px;
  display: inline-block;
  color: #808080;
  font-size: 12px;
}

.post-comments .comment-button {
  color: #fb9b47;;
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
}

.post-comments .comment-button i {
  margin-right: 5px;
  display: inline-block;
}

.post-comments .comment-button:hover {
  color: #fb9b47;;
}

.post-excerpt {
  margin-bottom: 60px;
}

.post-excerpt h3 a {
  color: #000;
}

.post-excerpt p {
  margin: 0 0 30px;
}

.post-excerpt blockquote.quote-post {
  margin: 20px 0;
}

.post-excerpt blockquote.quote-post p {
  line-height: 30px;
  font-size: 20px;
  color: #fb9b47;;
}

.comments-section {
  margin-top: 35px;
}

.author-about {
  margin-top: 40px;
}

.post-author {
  margin-right: 20px;
}

.post-author > img {
  border: 1px solid #dedede;
  max-width: 120px;
  padding: 5px;
  width: 100%;
}

.comment-list ul {
  margin-top: 20px;
}

.comment-list ul li {
  margin-bottom: 20px;
}

.comment-wrap {
  border: 1px solid #dedede;
  border-radius: 1px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
}

.comment-wrap .author-avatar {
  margin-right: 10px;
}

.comment-wrap .media .media-heading {
  font-size: 14px;
  margin-bottom: 8px;
}

.comment-wrap .media .media-heading a {
  color: #fb9b47;;
  font-size: 13px;
}

.comment-wrap .media .comment-meta {
  font-size: 12px;
  color: #888;
}

.comment-wrap .media p {
  margin-top: 15px;
}

.comment-reply-form {
  margin-top: 80px;
}

.comment-reply-form input, .comment-reply-form textarea {
  height: 35px;
  border-radius: 0;
  box-shadow: none;
}

.comment-reply-form input:focus, .comment-reply-form textarea:focus {
  box-shadow: none;
  border: 1px solid #fb9b47;;
}

.comment-reply-form textarea, .comment-reply-form .btn-main {
  height: auto;
}

.sidebar-widget {
  margin-bottom: 30px;
  padding-bottom: 35px;
}

.sidebar-widget h5 {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 15px;
}

.sidebar-widget h5:before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 35px;
  height: 3px;
  background: #fb9b47;;
}

.sidebar-widget.latest-post .media img {
  border-radius: 7px;
}

.sidebar-widget.latest-post .media h6 {
  font-weight: 500;
  line-height: 1.4;
}

.sidebar-widget.latest-post .media p {
  font-size: 12px;
}

.sidebar-widget.category ul li {
  margin-bottom: 10px;
}

.sidebar-widget.category ul li a {
  color: #222;
  transition: all 0.3s ease;
}

.sidebar-widget.category ul li a:hover {
  color: #fb9b47;;
  padding-left: 5px;
}

.sidebar-widget.category ul li span {
  margin-left: 10px;
}

.sidebar-widget.tags a {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .075em;
  line-height: 41px;
  height: 41px;
  font-weight: 500;
  border-radius: 20px;
  color: #666;
  display: inline-block;
  background-color: #eff0f3;
  margin: 0 7px 10px 0;
  padding: 0 25px;
  transition: all .2s ease;
}

.sidebar-widget.tags a:hover {
  color: #fff;
  background: #fb9b47;;
}

.sidebar-widget.schedule-widget {
  background: #f4f9fc;
  padding: 25px;
}

.sidebar-widget.schedule-widget ul li {
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
}

.search-form {
  position: relative;
}

.search-form i {
  position: absolute;
  right: 15px;
  top: 35%;
}

.footer .copyright a {
  font-weight: 600;
}

.lh-35 {
  line-height: 35px;
}

.logo {
  font-weight: 600;
  letter-spacing: 1px;
}

.logo h3 {
  color: #fb9b47;;
}

.logo span {
  color: #fb9b47;;
}

.widget .divider {
  height: 3px;
}

.widget h4 {
  color: #fb9b47;;
}

.widget .footer-menu a {
  color: #6F8BA4;
}

.widget .footer-menu a:hover {
  color: #fb9b47;;
}

.footer-contact-block span {
  font-weight: 400;
  color: #6F8BA4;
}

.footer-contact-block i {
  font-size: 20px;
}

.footer-btm {
}

.footer-socials li a {
  width: 35px;
  height: 35px;
  background: #000;;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  padding-top: 8px;
}
.footer-socials li a:hover,
.footer-socials li a:focus {
  background: #fb9b47;
  border-color: #fb9b47;
  color: #fff;
}
.widget-contact h6 {
  font-weight: 500;
  margin-bottom: 18px;
}

.widget-contact h6 i {
  color: #fb9b47;;
}

.subscribe {
  position: relative;
}

.subscribe .form-control {
  border-radius: 50px;
  height: 60px;
  padding-left: 25px;
  border-color: #eee;
}

.subscribe .btn {
  position: absolute;
  right: 6px;
  top: 6px;
}

.backtop {
  position: fixed;
  background: #fb9b47;;
  z-index: 9999;
  display: inline-block;
  right: 55px;
  width: 60px;
  height: 60px;
  bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 50px;
}

.backtop i {
  color: #fff;
  font-size: 20px;
}

.reveal {
  transition: all .3s;
  cursor: pointer;
  opacity: 1;
}

header {
  z-index: 2;
  position: relative;
  position: fixed;
  width: 100%;
  top: 0;
}

header.header-fixed {
background: rgb(0 125 197);
      z-index:3;
}
.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide-content {
  position: relative;
  z-index: 6;
}
.slideshow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slideshow .slide.is-active {
  display: block;
}
.slideshow .slide.is-loaded {
  opacity: 1;
}
.slideshow .slide .caption {
  padding: 0 0;
}
.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 10%;
}
.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1120px;
  letter-spacing: 0.35em;
  font-weight: 700;
  color: #272727;
  letter-spacing: 0.19px;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #ffffff;
  font-size: 102px;
  margin-bottom: 20px;
  letter-spacing: -0.49px;
}
.slideshow .slide  p {
  line-height: 36px;
  font-size: 26px;
  margin-bottom: 10px;
  padding-right: 170px;
  letter-spacing: 0.38px;
  font-weight: 300;
}
.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1120px;
  font-size: 18px;
  line-height: 1.4;
}
.slideshow .slide .btn {
  margin: 15px 0 0;
  background: #fb9b47;
  font-size: 20px;
  padding: 25px 50px;
  color: #fff;
  border-radius: 0;
}
.slideshow .slide .btn:hover,
 .slideshow .slide .btn:focus{
  background: #fb9b47;
}
.slideshow .slide .btn::before {
  background: #fff;
}
.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
  display: inherit;
}
.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.slideshow .pagination .item + .page {
  margin-left: -2px;
}
.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  transition: background 0.2s ease;
      background-color: #fff;
}
.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
    background-color: #fff;
}
.header-fixed .header-top-bar {
    background-color: rgb(0, 0, 0);
}
.header-fixed .footer-socials li a {
  background: #fff;
  color: #000;
}
.header-fixed .top-bar-info li a, .header-fixed .icofont-phone:before {
    color: rgb(255 255 255);
}
.header-fixed .navigation .btn-main {
    background: #fb9b47;
    border-color: #fb9b47;
    color: #fff;
}
.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: #fb9b47;
}
.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
  display: none;
}
.slideshow .arrows .prev {
  left: 30px;
}
.slideshow .arrows .prev:hover .svg {
  left: -10px;
}
.slideshow .arrows .next {
  right: 30px;
}
.slideshow .arrows .next:hover .svg {
  left: 10px;
}
.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}
h1.box-headline.letters.rotate-2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h4.cd-headline.clip.is-full-width {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.cd-headline.clip b.is-visible {
  font-weight: 100!important;
  letter-spacing: -5px;
}

.box-headline {
  font-size: 110px;
  line-height: 1.0;
  font-weight: 700;
  letter-spacing: -5px;
  color: #fff;
}

.box-words-wrapper {
  display: inline-block;
  position: relative;
  color: #fb9b47;
  font-style: normal;
}

.box-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.box-words-wrapper b.is-visible {
    position: relative;
}

.no-js .box-words-wrapper b {
    opacity: 0;
}

.no-js .box-words-wrapper b.is-visible {
    opacity: 1;
}

.box-headline.rotate-2 .box-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px;
}

.box-headline.rotate-2 i,
.box-headline.rotate-2 em {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-style: normal;
}

.box-headline.rotate-2 b {
    opacity: 0;
}

.box-headline.rotate-2 i {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0;
}

.is-visible .box-headline.rotate-2 i {
    opacity: 1;
}

.box-headline.rotate-2 i.in {
    -webkit-animation: box-rotate-2-in 0.4s forwards;
    animation: box-rotate-2-in 0.4s forwards;
}

.box-headline.rotate-2 i.out {
    -webkit-animation: box-rotate-2-out 0.4s forwards;
    animation: box-rotate-2-out 0.4s forwards;
}

.box-headline.rotate-2 em {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}

.no-csstransitions .box-headline.rotate-2 i {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0;
}

.no-csstransitions .box-headline.rotate-2 i em {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.no-csstransitions .box-headline.rotate-2 .is-visible i {
    opacity: 1;
}

@-webkit-keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
    }
}

@keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg);
    }
}

@-webkit-keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
    }
}

@keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg);
    }
}






.cd-title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center;
}
.cd-title h1 {
  font-size: 2.4rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .cd-title {
    line-height: 250px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-title {
    height: 200px;
    line-height: 300px;
  }
  .cd-title h1 {
    font-size: 3rem;
  }
}

.cd-intro {
  width: 90%;
  max-width: 768px;
}

.cd-intro {
  margin: 4em auto;
}
@media only screen and (min-width: 768px) {
  .cd-intro {
    margin: 5em auto;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    max-width: 1140px;
    margin: 0em auto;
    padding-top: 350px;
  }
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 5rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* --------------------------------
xclip
-------------------------------- */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
  color: #fff;
}
.cd-intro .table-cell p {
  width: 60%;
  font-size: 20px !important;
  font-weight: 100;
  color: #fff;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}
#canvas, #text {
    background: #0c0729;
    width: 100%;
    position: absolute;
    display: block;
    top: 100px;
    left: 0;
    z-index: -1;
    height: 750px;
}
.careers {
  background: #f4f4f4;
  padding-top: 80px;
}
.inner-banner {
    float: left;
    width: 100%;
    margin-top: 10.5rem;
    padding: 3rem 0;
    background: #000;
    color: #fff;
    font-size: 23px;
}
.pad-30 {
  padding: 30px 0 0;
  display: inline-block;
  margin: 0;
}
.pad-30 h4 {
    font-size: 1.2rem;
    font-weight: 500 !important;
}
.copyright a {
  color: #fff;
}
.contact-main {
  background: #fff;
}
.contact-main .form-control {
    height: 45px !important;
    border: 1px solid #ccc !important;
}
.contact-main .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.contact-main .p-5 {
    padding:6rem 3rem !important;
}
.contact-main .contact {
    background: #fb9b47;
    border-radius: 25px;
    color: #fff !important;
    padding: 10px 30px !important;
    display: inherit;
    margin-left: 0;
    border: 1px solid #fb9b47;
    width: inherit;
    max-width: fit-content;
    margin-top: 10px;
}
.contact-main .mb-3, .contact-main .my-3 {
    margin-bottom: 0rem !important;
}
.page-end-copyright {
  background: #fff;
  text-align: center;
  padding: 12px 15px 24px;
  font-size: 15px;
  color: #4d5359;
}
.page-end-copyright a {
  color: #252047;
  font-weight: 600;
}
.page-end-copyright a:hover,
.page-end-copyright a:focus {
  color: #fb9b47;
}
.page-end-separator {
  margin: 0 10px;
  color: #a4acb4;
}
/* Slider */
.slick-slide {
margin: 0px 20px;
}
.slick-slide img {
width: 100%;
}
/*
.slick-slider
{
position: relative;
display: block;
box-sizing: border-box;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-touch-callout: none;
-khtml-user-select: none;
-ms-touch-action: pan-y;
touch-action: pan-y;
-webkit-tap-highlight-color: transparent;
} */
.slick-list
{
position: relative;
display: block;
overflow: hidden;
margin: 0;
padding: 0;
}
.slick-list:focus
{
outline: none;
}
.slick-list.dragging
{
cursor: pointer;
cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.slick-track
{
position: relative;
top: 0;
left: 0;
display: block;
}
.slick-track:before,
.slick-track:after
{
display: table;
content: '';
}
.slick-track:after
{
clear: both;
}
.slick-loading .slick-track
{
visibility: hidden;
}
.slick-slide
{
display: none;
float: left;
height: 100%;
min-height: 1px;
}
[dir='rtl'] .slick-slide
{
float: right;
}
.slick-slide img
{
display: block;
}
.slick-slide.slick-loading img
{
display: none;
}
.slick-slide.dragging img
{
pointer-events: none;
}
.slick-initialized .slick-slide
{
display: block;
border: 1px solid #dcdcdc;
}
.slick-loading .slick-slide
{
visibility: hidden;
}
.slick-vertical .slick-slide
{
display: block;
height: auto;
border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
display: none;
}
